@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.titulo{
  font-family: 'Pacifico', cursive;
  color:  #8D0606;
  font-weight: 400;
}

.titulo__carrosel{
  font-family: 'Pacifico', cursive;
}

.carrosel-img{
  object-fit: cover;
  object-position: 0 50%;
  height: 400px;
}

.carousel-caption{
  bottom: 32.5%;
}

.receitas-topo__titulo{
  font-size: 2.7rem;
}

.receitas-topo__tirulo-secundario{
  color:#8C8888;
}

.receitas-cartoes{
  background-color: #E5E5E5;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 2rem;
  justify-content: space-around;
}

.receita{
  height: 384px;
  margin: 20rem 0;
}

.cartao{
  padding: 0;
  width: 19rem;
  border-radius: 0;
  border: 0;
  margin-top: 1.3em;
}

.cartao__imagem-topo{
  object-fit: cover;
  height: 11rem;
}

.cartao__botao{
  background-color: 
  #8D0606;
  border: 0;
}

.footer__topo{
  text-align: center;
  padding: 1.5em;
}

.footer__titulo{
  color: #8D0606;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  margin-bottom: 0.2em;
}

.perfis{
  padding: 10px;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil__img{
  object-fit: cover;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
}

.perfil__nome{
  margin-top: 0.8em;
  color: #8D0606;
  font-family: 'Pacifico', cursive;
}

.footer__contato{
  display: flex;
  flex-direction: column;
  background-color: #C4C4C4;
  height: 4rem;
  justify-content: center;
  padding: 1em;
  color: #FFFFFF;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer__email{
  margin:0;
}




